<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
	  <% @posts.each do |p| %>
	  <item>
	  <title><%= p.post_title %></title>
	  <link>http://me-affix.hostr.pw/post/<%= p.post_slug %></link>
		  <% begin %>
		  	<description><%= p.post_body.slice(0..(p.post_body.index('<MORE>'))).tr("<", "") %> </description>
		  <% rescue %>
		  	<%= p.post_body %></description>
		  <% end %>
		</item>
	<% end %>
</channel>

</rss>