language: ruby
rvm:
  - 1.9.3
env:
  - DB=sqlite
script:
  - RAILS_ENV=test bundle exec rake db:migrate --trace
  - RAILS_ENV=test bundle exec rake db:seed --trace
  - bundle exec rake db:test:prepare
  - bundle exec rspec spec
