<h3>Posts tagged as <%= @tag.tag_name %> <a class="fa fa-rss" href="/feed/tag/<%= @tag.tag_slug %>.xml"></a></h3>
<hr />
<% if @posts != nil %>
	<% @posts.each do |p| %>
		<%= render 'post', {p: p} %>
	<% end %>
<% else %>
	<div class="alert alert-danger">
	<strong>Error!</strong><br />
	There are currently no posts available.
	</div>
<% end %>