<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="/">Home</a>
          <a class="blog-nav-item" href="#">About</a>
          <a class="blog-nav-item" href="http://fedoraproject.org">The Fedora Project</a>
        </nav>
      </div>
    </header>
    <div class="container">
	    <div class="blog-header">
	        <h1 class="blog-title">Affix.ME</h1>
	        <p class="lead blog-description">Don't know what to put here yet</p>
	    </div>
	    <div class="row">

	        <div class="col-sm-8 blog-main">
				<%= yield %>
			</div>

			<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
	          <div class="sidebar-module sidebar-module-inset">
	            <h4>About</h4>
	            <p>Keiran <em>Smith</em> is a Software Developer from Scotland.</p>
	          </div>
	          <div class="sidebar-module">
	            <h4>Categories</h4>
	            <ol class="list-unstyled">
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	             	<li><a href="#">Posts</a></li>
	            </ol>
	          </div>
	          <div class="sidebar-module">
	            <h4>Elsewhere</h4>
	            <ol class="list-unstyled">
	            	<li><a href="https://github.com/Affix/">GitHub</a></li>
	            	<li><a href="https://twitter.com/cli">Twitter</a></li>
	            </ol>
	          </div>
	        </div><!-- /.blog-sidebar -->
	    </div>
    </div> <!-- /container -->
    <footer class="blog-footer">
		Built with <i class="fa fa-heart"></i> using <a href="http://getbootstrap.com">Bootstrap</a>, <a href="https://www.openshift.com/products/origin">OpenShift Origin</a> and <a href="http://www.rubyonrails.org">Rails</a><br />
		Donate <span class="fa fa-btc"></span> <a href="bitcoin:1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree">1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree</a>
	</footer>
</body>
</html>
