<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<footer>
	Built with <i class="icon-heart"></i> using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://www.rubyonrails.org">Rails</a>
</footer>
</body>
</html>
