<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" />
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a class="blog-nav-item active" href="#">Home</a>
          <a class="blog-nav-item" href="#">New features</a>
          <a class="blog-nav-item" href="#">Press</a>
          <a class="blog-nav-item" href="#">New hires</a>
          <a class="blog-nav-item" href="#">About</a>
        </nav>
      </div>
    </header>
    <div class="container">
		<%= yield %>
    </div> <!-- /container -->
    <footer class="blog-footer">
		Built with <i class="fa fa-heart"></i> using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://www.rubyonrails.org">Rails</a><br />
		Donate <span class="fa fa-btc"></span> <a href="bitcoin:1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree">1B8BzcB1MvKFceLb9fhLLZWcvPoB1B4ree</a>
	</footer>
</body>
</html>
